.input {
  width: 100%;
  color: var(--grey);
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid var(--grey);
  outline: none;
  font-family: "Montserrat", sans-serif;
  &:focus {
    border-bottom: 1px solid var(--blue);

    &::placeholder {
      color: transparent;
    }
  }
  &.filled {
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }
}
