.button {
  color: var(--white);
  padding: 10px 50px 10px 50px;
  background-color: var(--black);
  border: 1px solid transparent;
  border-radius: 2px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;

  &.__blue {
    background-color: var(--blue);
    &:hover {
      border: 1px solid var(--blue);
      background-color: transparent;
    }
  }
  &.__square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 1px;
  }
  &:hover {
    background-color: var(--blue);
  }
}
