.text-block-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  max-width: 884px;
}

ul {
  list-style-type: none;
  padding-left: 5rem;
}

li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: black;
  margin-right: 1rem;
  transform: translate(0, -50%) scaleY(1) rotate(45deg);
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-style: italic;
}

blockquote footer {
  white-space: pre-line;
  color: var(--grey);
}
